 <!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Tea Store</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Store</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Online Store</p>
            <h1 class="display-6">Want to stay healthy? Choose tea taste</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-1.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Matcha tea</h4>
                        <p>Matcha tea helps to burn belly fat, immunity booster,it is detoxifier.</p>
                        <h4 class="text-primary"><span>&#8377;990</span></h4>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-2.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Green tea </h4>
                        <p>Consuming green tea treats bloating, allergies, acne and promote weight loss.</p>
                        <h4 class="text-primary"><span>&#8377;380</span></h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-3.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Oolang Tea</h4>
                        <p>Oolong tea is a partially fermented tea that may help regulate blood sugar, lower cholesterol, and enhance weight loss.</p>
                        <h4 class="text-primary"><span>&#8377;800</span></h4>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">
                    <img src="assets/img/store-product-4.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Black tea</h4>
                        <p>Black is very beneficial to treat anxiety, weight loss, and treat a headache</p>
                        <h4 class="text-primary"><span>&#8377;690</span></h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-5.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">White Tea</h4>
                        <p>White tea is beneficial for stress, weight loss, detoxification .</p>
                        <h4 class="text-primary"><span>&#8377;2000</span></h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-6.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Yellow Tea</h4>
                        <p>Consuming tulsi green tea regularly enables your body to boost its own antioxidant activity and makes it less prone to developing cancer cells</p>
                        <h4 class="text-primary"><span>&#8377;708</span></h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-7.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Hibiscus Tea</h4>
                        <p>Hibiscus tea is best for high blood pressure, respiratory diseases.</p>
                        <h4 class="text-primary"><span>&#8377;400</span></h4>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-8.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Chamomile Tea</h4>
                        <p>This tea is beneficial for sleep, headache, anxiety, bloating.</p>
                        <h4 class="text-primary"><span>&#8377;2100</span></h4>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-9.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Peppermint Tea</h4>
                        <p>Peppermint tea is good remedy for bloating, nausra, PMS, bad breath.</p>
                        <h4 class="text-primary"><span>&#8377;650</span></h4>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="assets/img/store-product-10.jpg" alt="" style="height:150px; width:150px;">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Ginger Tea</h4>
                        <p>Ginger tea which reduce bloating, cold, upset stomach, sore throat.</p>
                        <h4 class="text-primary"><span>&#8377;580</span></h4>
                    </div>
                    
                </div>
            </div>


            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">back to HOME</a>
            </div>
        </div>
    </div>
</div>
<!-- Store End -->




