
<form #loginForm="ngForm" (ngSubmit)="loginProcess(loginForm)">
<h1>User Login</h1>
<div class="login-block" style="background-color: #88B44E;">
  <hr>   
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel>
      </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel>
    </div>
 
   
    <button type="submit" class="btn btn-dark">Login</button>
  </div>
  </form> 

  <!--<form #loginForm="ngForm" (ngSubmit)="loginProcess(loginForm)">
    <div class="logo"></div>
    <div class="login-block" style="background-color: aqua;">
      <h1>Login</h1>
      <input type="email" value="" placeholder="Username" id="email" name="email" ngModel required />
      
      
      <input type="password" value="" placeholder="Password" id="password" name="password" ngModel required />
      
      
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Submit</button>
      
    </div>
  </form>-->
